<!DOCTYPE html>
<html lang="zh-Hans-CN">
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content=" width=device-width, initial-scale=1">
    <meta name="author" content="Mousse">

    <title>Mousse</title>

    <link href="../static/css/main.css" rel="stylesheet" type="text/css">

</head>

<body>
  <h1  align="center">基于python的图像搜索引擎</h1>
	<header class="intro">
	    <div class="intro-body">
	        <div class="container">
	          <h1>搜索图像</h1>

		      <form action="" method=post enctype=multipart/form-data>
		        <input type=file name=file>
		        <input type=submit value=搜索 class="btn-default btn">
		      </form>

	          </a>
	        </div>
	    </div>
	</header>



	<footer align="center">
	    <div class="container ">
	        <p>Mousse &copy;2016/12/21</p>
	
	    </div>
	</footer>

</body>

</html>
